<!DOCTYPE html>
<html>
    <head>
        <Title>{{title}}</Title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{msg}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>